name: ci

on: 
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: First step
        uses: actions/checkout@v4
        
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-verison: 18

      - name: Install dependencies
        run: npm ci
        
      - name: Run tests
        run: npm run test

      - name: Styling
        run: npm run format:check
